.set-language-container {
  width: 124px;
  border-radius: 20px;
  height: 40px;
  background-color: #3960ff0d;
  display: flex;
  flex-direction: row;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.2px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    &.active {
      background: #3960ff;
      border-radius: 20px;
      color: #ffffff;
    }
  }
}
